.form-movies
  input(type="text" placeholder='Search movies...')
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sint officiis dolorum quam, necessitatibus dolorem corporis modi aliquam iusto dolores numquam accusantium magni. Explicabo dolorum natus, porro libero ex, non.
